*{
    margin: 0px;
    padding: 0px;
}
.navbar{
    width: 100%;
    height: 60px;
    background: teal;
    display: flex;
}
.part1{
    width: 20%;
    display: inline-flex;
    align-items: center;
}
.part1 img{

}
.part1 p{
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    margin-left: 10px;
    cursor: pointer;
    transition-duration: 0.5s;

}
.part1 p:hover{
    font-weight: bolder;
    color: violet;
}
.part2{
    width: 60%;
    display: flex;
    justify-content: left;
    align-items: center;
}
.part2 ul{
    list-style: none;
    display: flex;
    font-size: 14px;
    font-family: sans-serif;
}
.part2 ul li{
    margin-left: 20px;
    cursor: pointer;
    border-bottom: 2px solid greenyellow;
    padding-bottom: 2px;
    transition-duration: 0.6s;
}
.part2 ul li:hover
{
    font-weight: bold;
    color: violet;
}
.part3{
    width: 20%;
    margin: 0px;
    padding: 0px;
    display:inline-flex;
    margin-top: 15px;
}
.part3 input{
    margin: 0px;
    width: 180px;
    height: 30px;
    border:1px solid orange;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
    padding-left: 3px; 
    outline: none;
}
.part3 button{
    margin: 0px; 
    height: 30px;
    border: 1px solid orange;
    background: orange;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;
    transition-duration: 0.7s;
}
.part3 button:hover{
    font-weight: bold;
    color: rgb(228, 0, 38);
}