*
{
    margin: 0px;
    padding: 0px;
    display: flex;
}
.navbar
{
    width: 100%;
    background: teal;
}
.part1
{
    width: 20%;
    background: green;
}
.part2
{
    width: 60%;
    background: orange;
}
.part3
{
    width: 20%;
    background: purple;
}
