*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box{
    width:600px;
    margin-left: 100px;
    height: 500px;
    background-color: blue;
    color:antiquewhite;
    display:inline-flex;
    align-items: center;
    justify-content: center;
    position: ;
    top: 0;
    z-index: 1000;

}
h1{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 
    'Arial Narrow', Arial, sans-serif
    ;
    font-variant: small-caps;

}
span{
    font-size: 20pt;
    font-weight: bold;

}
.box2{
width: 200px;
height: 200px;
border: 2px solid black;
background-color: aqua;
display: inline-flex;
}
.box3{
width: 200px;
height: 200px;
border:3px solid green;
background-color: brown;
}
.box4{
width: 200px;
height: 200px;
border:3px solid rgb(153, 9, 197);
background-color: rgb(20, 163, 120);
}