*
{
    margin: 0px;
    padding: 0px;
}
.navbar{
    width:100%;
    
    display: flex;
}
.part1{
    width: 20%;
    background: tan;
    text-align: center;
}
.part2{
    width: 60%;
    background: yellow;
    text-align: center;
}
.part3{
    width: 20%;
    background: purple;
    text-align: center;
}