*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main
{
    width: 100%;
    height: 100vh;
    background-image: url(Images/banner-bg.png);
    background-position: center;
    background-size: cover;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav1
{
    width: 20%;
    color: white;
    font-family: arial black;
    font-weight: bolder;
    font-size: 35px;
}
.nav2
{
    width: 60%;
    color: white;
    font-family: arial black;
    font-weight: bolder;
    font-size: 20px;
}
.nav2 ul
{
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.nav3
{
    width: 20%;
    color: white;
    font-family: arial black;
    font-weight: bolder;
    font-size: 20px;
}