*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1
{
    font-size: 20pt;
    font-family: sans-serif;
    color: brown;
    text-decoration: none;
    font-variant: small-caps;
}
span
{
    font-size: 20pt;
    font-weight: bold;
}
.box
{
    width: 800px;
    height: 500px;
    border: 2px solid black;
    background-color: lightgray;
    display: inline-flex;
    position: absolute;
}
.box2
{
    width: 300px;
    height: 200px;
    border: 2px solid red;
    background-color: rgb(160, 69, 69);
    margin: 20px;
    display: block;
}
.box3
{
    width: 300px;
    height: 200px;
    border: 2px solid blue;
    background-color: rgb(69, 104, 160);
    margin: 20px;
    display: block;
}
.box4
{
    width: 300px;
    height: 200px;
    border: 2px solid green;
    background-color: rgb(69, 160, 104);
    margin: 20px;
    display: block;
}