*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav
{
    width: 100%;
    height: 60px;
    background-color: rgb(37, 30, 30);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.main
{
    /* background-image: linear-gradient(to right, rgb(0, 255, 242), yellow, red); */
    background-image: linear-gradient(to right, rgb(11, 68, 65), rgb(255, 72, 0, 0.7));
    /* background-image: url(banner-bg.png); */
    background-size: cover;
    background-position: center;
    color: white;
}
h1
{
    font-size: 20pt;
    font-family: sans-serif;
    color: brown;
    text-decoration: none;
    font-variant: small-caps;
}
span
{
    font-size: 20pt;
    font-weight: bold;
}
.box
{
    width: 800px;
    height: 500px;
    border: 2px solid rgb(221, 211, 211);
    background-color: transparent;
    display: inline-flex;
    overflow: scroll;
}
.box2
{
    border: 2px solid red;
    background-color: rgb(255, 0, 0);
    margin: 20px;
    display: block;
    margin: 40px;
    z-index: 1;

}
.box3
{
    border: 2px solid blue;
    background-color: rgb(0, 98, 255);
    margin: 20px;
    display: block;
    margin: 10px;
    z-index: 2;

}
.box4
{
    border: 2px solid green;
    background-color: rgb(0, 255, 98);
    margin: 20px;
    z-index: 3;

}
.box2, .box3, .box4
{
    width: 200px;
    height: 200px;
    position: absolute;
}
.main i
{
    color: black;
    background: black;
}
button
{
    width: 90px;
    height: 30px;
    text-align: center;
    background: green;
    outline: none;
    border: 1px solid red;
    border-radius: 10px;
    cursor: pointer;
}
img
{
    width: 50%;
    float: right;
}
.box4 + p
{
    color: black;
}




/* scroll on Hover */
.scroll
{
    position: relative;
    color: black;
}
.option
{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    color: black;
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
}
.scroll:hover .option
{
    display: block;
}
.scrollf{
    position: relative;
    color: gray;
}
.list{
display: none;
position: absolute;
background-color: yellow;
min-width: 140px;
color: red;
box-shadow: 0px 4px 8px 0px;
padding: 16px 20px;

}
.scrollf:hover.list{
    display: block;
}

h2
{
  text-shadow: 0 0 14px #ff0000, 0 0 5px #0000ff;
}
.square
{
    width: 200px;
    height: 200px;
    margin: 20px;
    background: rgba(236, 233, 11, 0.959);
    box-shadow: 5px 5px 10px rgb(162, 163, 162);
    display: flex;
    justify-content: center;
    align-items: center;
}
.square:hover
{
    /* transform: translate(10px,10px); */
    rotate: 30deg;
    /* transform: scale(0.5,0.5);*/
    /*transform: scale(-1,-1); */
    /* transform: skewX(-20deg); */
    /* transform: rotateX(150deg); */
    transition: 2s;
    background: teal;
    border-radius: 50%;

}
.circle
{
    width: 100px;
    height: 100px;
    background: rgba(236, 233, 11, 0.959);
    border-radius: 50%;
}
.circle:hover
{
    background:red;
    transition: 2s;
}
.animated
{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: linear-gradient(to right, yellow, red);
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: abc;
    animation-duration: 5s;
}

@keyframes abc {
  from 
    {
        
    }
  to 
    {
       rotate: 360deg; 
    }
  
}
.circle1
{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-image: linear-gradient(to right, red, yellow);
    animation-name: abc;
    animation-duration: 5s;
    rotate: 30deg;
    animation-name: abc2;
    animation-duration: 2s;
}
@keyframes abc2 {
  from 
    {
        
    }
  to 
    {
       rotate: 360deg; 
    }
  
}