*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav
{
    width: 100%;
    height: 60px;
    background-color: rgb(37, 30, 30);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.main
{
    background-image: linear-gradient(to right, rgb(0, 255, 242), yellow);;
    /* background-image: url(banner-bg.png); */
    background-size: cover;
    background-position: center;
    color: white;
}
h1
{
    font-size: 20pt;
    font-family: sans-serif;
    color: brown;
    text-decoration: none;
    font-variant: small-caps;
}
span
{
    font-size: 20pt;
    font-weight: bold;
}
.box
{
    width: 800px;
    height: 500px;
    border: 2px solid rgb(221, 211, 211);
    background-color: transparent;
    display: inline-flex;
    
}
.box2
{
    border: 2px solid red;
    background-color: rgb(255, 0, 0);
    margin: 20px;
    display: block;

}
.box3
{
    border: 2px solid blue;
    background-color: rgb(0, 98, 255);
    margin: 20px;
    display: block;

}
.box4
{
    border: 2px solid green;
    background-color: rgb(0, 255, 98);
    margin: 20px;
}
.box2, .box3, .box4
{
    width: 200px;
    height: 200px;
    opacity: 0.2;
}