.load
{
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.load img
{
    width: 200px;
    height: 200px;
    /* animation: load 5s linear alternate; */
    animation-name: load;
    animation-duration: 2s;
    animation-iteration-count:calc(4);
    position: absolute;
    
}   
img#img2{
    width: 200px;
    height: 200px;
    position: absolute;
    rotate: 90deg;
    animation-duration: 4s;
}
@keyframes load
{
    0%{
        transform: rotate(0deg);
    }               
    100%{
        transform: rotate(360deg);
        display: none;
    }
}

.aero
{
    width: 90%;
    height: 200px;
    position: relative;
    top: 220px;
}
.aero img
{
    width: 100px;
    height: 100px;
    position: relative;
    animation-name: aerofun;
    animation-duration: 10s;
    animation: aerofun 10s linear infinite;

}

@keyframes aerofun  
{
    0%{
        left: 0%;
        transform: rotateX(0deg);
    }
    10%{
        left: 10%;
        transform: rotateX(45deg);
    }
    30%{
        left: 100%;
        transform: rotateX(360deg);
    }
}