*
{
 margin: 0px;
 padding: 0px;
}
.navbar{
    width: 100%;
}
.nav1{
    width: 100%;
}
hd1{
    width: 15%;
}
hd1 img{
    width: 100%;
}
hd2{
    width: 65%;
}
.hd2.ul{
    width: 20%;

}

